img.rounded-corners {
  border-radius: 5px;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
}

:root {
  --link-color: var(--theme-color);
  --link-color--hover: var(--theme-color);
  --link-text-decoration-color: var(--theme-color);
  --link-text-decoration-color--hover: var(--theme-color);

  --sidebar-nav-pagelink-background: ;
  --sidebar-nav-pagelink-background--active: ;
  --sidebar-nav-pagelink-background--collapse: ;
  --sidebar-nav-pagelink-background--loaded: ;
  --sidebar-nav-pagelink-padding: 2.5px;
  --sidebar-nav-link-before-color: var(--theme-color);
}
