:root {
  --link-color: var(--theme-color);
  --link-color--hover: var(--theme-color);
  --link-text-decoration-color: var(--theme-color);
  --link-text-decoration-color--hover: var(--theme-color);
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 50px;
  height: 50px;
}

img.rounded-corners {
  border-radius: 0.4px;
}
