img.rounded-corners {
  border-radius: 5px;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
}

:root {
  --link-color: var(--theme-color);
  --link-color--hover: var(--theme-color);
  --link-text-decoration-color: var(--theme-color);
  --link-text-decoration-color--hover: var(--theme-color);
  --sidebar-nav-link-background: none;
  --sidebar-nav-link-background--active: none;
  --sidebar-nav-link-background--hover: none;
  --sidebar-nav-pagelink-background: none;
  --sidebar-nav-pagelink-background--active: none;
  --sidebar-nav-pagelink-background--collapse: none;
  --sidebar-nav-pagelink-background--loaded: none;
  --sidebar-nav-pagelink-padding: 3px;
  --sidebar-nav-link-font-weight--active: bold;
  --sidebar-nav-link-text-decoration--active: none;
}
